[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-login = "*"
flask-wtf = "*"
flask-migrate = "*"
email-validator = "*"
pillow = "*"
psycopg2-binary = "*"
flask-bootstrap = "*"

[dev-packages]

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
