{%extends 'base.html'%}

{%block content%}
<div>
    {%if orders%}
<h6 class="text-center">Users Order details</h6>
<div>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Order ID</th>
            <th scope="col">Ordered by</th>
            <th scope="col">Order Date</th>
            <th scope="col">Number of services ordered</th>
            <th scope="col">More Details</th>
            <th scope="col"> Remove</th>
          </tr>
        </thead>
        <tbody>
            {%for order in orders%}
          <tr>
            <th scope="row">{{order.id}}</th>
            <td>{{user.username}}</td>
            <td>{{order.order_date}}</td>
            <td>{{order.services|count}}</td>
            <td>{{order.details}}</td>
            <td><a class="btn btn-danger" href="{{url_for('main.deleteorders',id=order.id)}}">Delete</a></td>
          </tr>
          {%endfor%}
         
        </tbody>
      </table>
</div>
{%endif%}
</div>
{%endblock%}