{% extends 'base.html'%}

{% block content%}

<div class="container text-center mt-5">
<h1>Making Every Bride's dream come true</h1>
<h3>We are a brand that embodies the artistic connection in which a wedding holds.</h3>
<p>
    Allow us to play host to your full wedding fairy tale. We'll walk you through the day so that everything goes smoothly and you and your partner can relax and enjoy yourselves. Whether it's a civilian ceremony or a church ceremony in the chapel, we'll help you organize everything you'll need. We will also organize a wedding reception with selected culinary tastes according to your requests in our gorgeous setting.
</p>

</div>
{%endblock%}