<div class="hero">
    <nav class="d-flex justify-content-between nabar navbar-expand-lg">
        <h2 class="logo" style="color: #46B1C9;">Bridal <span style="color: #F2E2D2;">Bliss</span> </h2>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="{{url_for('main.profile')}}">Profile</a></li>
            <li><a href="#">Contact us</a></li>
            <li><a href="#">Our Team</a></li>


        
            {% if current_user.is_authenticated %}

  <button type="button" class="btn btn-primary">{{current_user.username}}</button>
  
  
    
    <li><a class="dropdown-item" href="#">Account</a></li>
    <li><a class="dropdown-item" href="{{url_for('main.profile',name=current_user.username)}}"><i class="far fa-user"></i>&nbsp;Update Profile</a></li>
    <li><hr class="dropdown-divider" /></li>
    
    <li><a class="dropdown-item text-danger" href="{{url_for('auth.logout')}}"><i class="fas fa-sign-out-alt"></i>&nbsp; Log out</a></li>
    

        {% else %}
        
          <li class="nav-item">
              <a  class="" href="{{url_for('auth.signup')}}"><i class="fas fa-user-plus"></i></i>&nbsp; Sign Up</a>
          </li>
          <li class="nav-item">
              <a  class="" href="{{url_for('auth.login')}}" ><i class="fas fa-sign-in-alt "></i>&nbsp; Log In</a>
          </li>
    
        {%endif%}
            
        </ul>

    
        <!-- <button type="button" class="btn" style="color: #9FB7B9;" >LogOut</button> -->
    </nav>
    <div class="main container-fluid">
        <h1 class="info mb-3">
            Experience Your Dream with us
        </h1>
        <p> The largest selection of dresses. Experts to help easen your day and bring your dream to life.</p>
        
    <a type="button" class="btn btn-secondary" href="{{url_for('main.filterservice')}}">Book an Appointment</a>
    </div>
</div>