<div class="hero">
    <nav class="d-flex justify-content-between nabar navbar-expand-lg">
        <h2 class="logo" style="color: #46B1C9;">Bridal <span style="color: #F2E2D2;">Bliss</span> </h2>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Portfolio</a></li>
            <li><a href="#">Contact us</a></li>
        </ul>
        <button type="button" class="btn" style="color: #9FB7B9;" >LogOut</button>
    </nav>
    <div class="main container-fluid">
        <h1 class="info mb-3">
            Experience Your Dream with us
        </h1>
        <p> The largest selection of dresses. Experts to help easen your day and bring your dream to life.</p>
        
    <button type="button" class="btn btn-secondary" href="/login">Book an Appointment</button>
    </div>
</div>